.mesh {		
		border: gray 1px solid;
		border-radius: 15px;
		margin-top: 15%;
}
.node {
    stroke: black;
    fill: white;
}
.link.preferred {
    stroke: black;
    stroke-width: 4;
}

.link.normal {
    stroke: gray;
    stroke-width: 2;
}

.selected {
    border: solid red 2px;
}