<%inherit file="base.html"/>

<%block name="title">
Radio Settings
</%block>

<%block name="emberapp">
</%block>

<%namespace name="nav" file="nav.html"/>
${nav.bar()}
<hr>

<h3>Lowpan</h3>

<p>This is where you configure lowpan stuff. 

<ul>
  <li> display current lowpan config (site name tunnel config etc)
</ul>

<h3>Twitter</h3>
<p> enable and get auth to twitter feeds. This will enable posting to twitter when you select nodes

<h3>Twine</h3>
<h3>etc... etc.. all other services that are useful</h3>
