<%inherit file="base.html"/>

<%block name="title">
Radio Settings
</%block>

<%block name="emberapp">
</%block>

<%namespace name="nav" file="nav.html"/>
${nav.bar()}
<hr>

<div class="container">

<h3>Things to spawn:</h3>

<p>java -mx512m -jar dist/cooja.jar -nogui=/home/malvira/contiki/rpl-test.csc 
<p>PATH=$PATH:/sbin tunslip6 -v3 -a localhost -p 60001 aaaa::1/64
<p>tunslip6 should be in path and setuid root

<h3>TODO:</h3>
<ul>
<li> br firmware should up load network info to the BR
<li> br firmware should take config options like where to post the data to (addr and port)
<li> have an option to relay that info to Lowpan (do this by default)
<li> have a way to select between options: cooja, econotag on USB, or M12 module on serial port
<li> have br firmware uploadable
<li> Print output of <strong>ps aux |grep java |grep cooja</strong> to get status of cooja sim
<li> Do this same for tunslip6
<li> configure things like
  <ul>
    <li> cooja sim to run (e.g. rpl-test.csc)
    <li> tunslip prefix (with an option to pull from a lowpan tunnel
  </ul>
</ul>

</div>
