<%inherit file="base.html"/>

<%block name="title">
Border Router Settings
</%block>

<%block name="emberapp">
<script src="static/js/settings.js"></script>
</%block>

<%namespace name="nav" file="nav.html"/>
${nav.bar()}
<hr>

<div class="container" id="changePass">

<script type="text/x-handlebars" data-template-name="passwordView">

<div class="eight columns offset-by-four">
  <h3 class="cjust">Change password</h3>
</div>

<div class="six columns offset-by-six clearfix">
  <div class="four columns alpha">New Password:</div>
  <div class="four columns alpha">
    {{view Em.TextField valueBinding="App.password.pass1" type="password"}}
  </div>
  
  <div class="four columns alpha">Repeat New Password:</div>
  
  <div class="four columns alpha">
    {{view Em.TextField valueBinding="App.password.pass2" type="password"}}	
  </div>
  
  <div class="four columns alpha">
    <input type=submit value="Change Password" 
	   style="margin-bottom: 0"
	   {{bindAttr disabled="App.password.bad"}}
	   {{action "changepass" target="App.password"}} >
  </div>


  <div class="two columns omega">
    <img src="static/images/ajax-loader.gif" class="spinner" 
	 {{bindAttr class="App.password.ChangeWait:visible"}}>
  </div>
  
  <div class="four columns alpha">
    {{#if App.password.match}}
    <div style="text-align: center; height: 5ex;"></div>
    {{else}}
    {{#view App.FadeInView contentBinding="this"}}
    <div style="text-align: center; height: 5ex;">
      <p>Passwords do not match
    </div>
    {{/view}}
    {{/if}}
  </div>
</script>
</div>

<hr>

<div class="container" id="lowpanAPI">
<script type="text/x-handlebars" data-template-name="lowpanAPI">

  <div class="sixteen columns">
    <h3 class="cjust">Lowpan API</h3>
  </div>

  <div class="four columns offset-by-six">Lowpan URL:</div>
  <div class="four columns offset-by-six">
    {{view Em.TextField valueBinding="App.lowpan.url"}}
  </div>

  <div class="four columns offset-by-six">API Key:</div>
  <div class="four columns offset-by-six">
    {{view Em.TextField valueBinding="App.lowpan.apikey"}}
  </div>
  
  <div class="four columns offset-by-six">
    <input type=submit value="Save"
	   {{action "save" target="App.lowpan"}} >
    <img src="static/images/ajax-loader.gif" class="spinner" 
	 {{bindAttr class="App.lowpan.saveWait:visible"}}>

    {{#if App.lowpan.saveWait}}
    {{else}}
      {{#if App.lowpan.apiok}}
        {{#view App.FadeInView contentBinding="this"}}
          <div class="success" style="text-align: center; height: 5ex;">
            <p>Connection Good
          </div>
        {{/view}}
      {{else}}
        {{#view App.FadeInView contentBinding="this"}}
          <div class="failure" style="text-align: center; height: 5ex;">
            <p>Connection Failed
          </div>
        {{/view}}
      {{/if}}
    {{/if}}

  </div>
</script>
</div>
