<%inherit file="base.html"/>

<%block name="title">
Border Router Settings
</%block>

<%block name="emberapp">
<script src="static/js/settings.js"></script>
</%block>

<script type="text/x-handlebars">

<div class="six columns offset-by-six">
  <h3>Change password</h3>
</div>

<div class="six columns offset-by-six clearfix">
  <div class="four columns alpha">New Password:</div>
  <div class="four columns alpha">
    {{view Em.TextField valueBinding="App.pass1" type="password"}}
  </div>
  
  <div class="four columns alpha">Repeat New Password:</div>
  
  <div class="four columns alpha">
    {{view Em.TextField valueBinding="App.pass2" type="password"}}	
  </div>
  
  <div class="four columns alpha">
    <input type=submit value="Change Password" 
	   style="margin-bottom: 0"
	   {{bindAttr disabled="App.passbad"}}
	   {{action "changepass" target="App"}} >
  </div>
  
  <div class="two columns omega">
    <img src="static/images/ajax-loader.gif" class="spinner" 
	 {{bindAttr class="App.passChangeWait:visible"}}>
  </div>
  
  <div class="four columns alpha">
    {{#if App.match}}
    <div style="text-align: center; height: 5ex;"></div>
    {{else}}
    {{#view App.FadeInView contentBinding="this"}}
    <div style="text-align: center; height: 5ex;">
      <p>Passwords do not match
    </div>
    {{/view}}
    {{/if}}
  </div>


</script>


<hr>




