[Unit]
Description=BRamble border router
After=syslog.target

[Service]
ExecStart=/usr/bin/python /root/bramble/web/runserver.py
Restart=always
Type=simple
StandardError=syslog

[Install]
WantedBy=multi-user.target
