[Unit]
Description=WAN led
After=syslog.target

[Service]
ExecStart=/root/bramble/files/arch/bin/button
Restart=always
Type=simple
StandardError=syslog

[Install]
WantedBy=multi-user.target
